datadir="/var/lib/proxysql"

admin_variables=
{
	admin_credentials="admin:Pugah6beinier3oNeengaep7aiGhisha;radmin:go0Daeghai5Xai9te1faenaoPiedohsh"
	mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
	threads=4
	max_connections=2048
	default_query_delay=0
	default_query_timeout=36000000
	have_compress=true
	poll_timeout=2000
	interfaces="0.0.0.0:6033"
	default_schema="information_schema"
	stacksize=1048576
	server_version="5.5.30"
	connect_timeout_server=3000
	monitor_username="monitor"
	monitor_password="monPass"
	monitor_history=600000
	monitor_connect_interval=60000
	monitor_ping_interval=10000
	monitor_read_only_interval=1500
	monitor_read_only_timeout=500
	ping_interval_server_msec=120000
	ping_timeout_server=500
	commands_stats=true
	sessions_sort=true
	connect_retries_on_failure=10
	mysql-auditlog_enabled=true
	mysql-auditlog_filesize=104857600
}

mysql_servers =
(
    { address="mariadb-master", port=3306, hostgroup=10, max_connections=1000, max_replication_lag=5, use_ssl=1 },
    { address="mariadb-slave", port=3306, hostgroup=20, max_connections=1000, max_replication_lag=5, use_ssl=1 },
)

mysql_users =
(
    {
        username: "data_ops",
        password: "aer6eethe7aiShe6uoqu4ieTeef6aig3",
        active: 1,
        default_hostgroup: 20, // Directed to the master server for CRUD operations.
        max_connections: 1000
    },
    {
        username: "db_monitor",
        password: "jae9shequ3Kohsoo5mee5oongii2ique",
        active: 1,
        default_hostgroup: 20, // Directed to the slave server for monitoring.
        max_connections: 10
    },
    {
        username: "backup_operator",
        password: "aeng7Ijoj9eeyie8OoThiojeitho8Jie",
        active: 1,
        default_hostgroup: 20, // Directed to the slave server for backups.
        max_connections: 2
    },
    {
        username: "dba",
        password: "goong1eeQuooW0xeungooPheer9raacu",
        active: 1,
        default_hostgroup: 10, // Adjusted to use the master server for admin tasks.
        max_connections: 4
    },
    {
        username: "queryHolder",
        password: "thoh0pheelooFishaX6umaequiejeith",
        active: 1,
        default_hostgroup: 90, // Directed to the backup server for holding queries.
        max_connections: 4
    }    
)
