[mysqladmin]
user=

[mysqld]
skip_name_resolve
explicit_defaults_for_timestamp
basedir=/opt/bitnami/mariadb
port=3306
tmpdir=/opt/bitnami/mariadb/tmp
socket=/opt/bitnami/mariadb/tmp/mysql.sock
pid_file=/opt/bitnami/mariadb/tmp/mysqld.pid
max_allowed_packet=16M
bind_address=0.0.0.0
log_error=/opt/bitnami/mariadb/logs/mysqld.log
slow_query_log=0
long_query_time=10.0
character_set_server=utf8mb4
plugin_dir=/opt/bitnami/mariadb/lib/plugin
datadir=/bitnami/mariadb/data
# SSL CONFIGURATION
ssl-ca=/opt/bitnami/mariadb/conf/transit/ca-cert.pem
ssl-cert=/opt/bitnami/mariadb/conf/transit/server-cert.pem
ssl-key=/opt/bitnami/mariadb/conf/transit/server-key.pem

# Audit Logging
server_audit_logging=ON


[client]
port=3306
socket=/opt/bitnami/mariadb/tmp/mysql.sock
default_character_set=utf8mb4
plugin_dir=/opt/bitnami/mariadb/lib/plugin
# SSSL CONFIGURATION
ssl-ca=/opt/bitnami/mariadb/conf/transit/ca-cert.pem
ssl-cert=/opt/bitnami/mariadb/conf/transit/client-cert.pem
ssl-key=/opt/bitnami/mariadb/conf/transit/client-key.pem

[manager]
port=3306
socket=/opt/bitnami/mariadb/tmp/mysql.sock
pid_file=/opt/bitnami/mariadb/tmp/mysqld.pid

[mariadb]
## File Key Management
plugin_load_add = file_key_management
file_key_management = FORCE
file_key_management_filename = /opt/bitnami/mariadb/conf/encryption/keys.enc
file_key_management_filekey = FILE:/opt/bitnami/mariadb/conf/encryption/password
file_key_management_encryption_algorithm = AES_CBC

## InnoDB/XtraDB Encryption Setup
innodb_default_encryption_key_id = 1
innodb_encrypt_tables = ON
innodb_encrypt_log = ON
innodb_encryption_threads = 4

## Aria Encryption Setup
aria_encrypt_tables = ON

## Temp & Log Encryption
encrypt-tmp-disk-tables = 1
encrypt-tmp-files = 1
encrypt_binlog = ON

## Audit plugin
plugin_load_add = server_audit
server_audit=FORCE_PLUS_PERMANENT
server_audit_events=CONNECT,QUERY,TABLE,QUERY_DML,QUERY_DDL,QUERY_DML_NO_SELECT,QUERY_DCL
server_audit_file_rotate_now=ON 
server_audit_file_rotate_size=1000000 
server_audit_file_rotations=5
server_audit_file_path=/opt/bitnami/mariadb/logs/server_audit.log

# General Log
general_log=1
general_log_file=/opt/bitnami/mariadb/logs/queries.log

## Slow Log 
slow_query_log_file=/opt/bitnami/mariadb/logs/mariadb-slow.log
slow_query_log=1
log_slow_query_time=0.001

## Error Log
log_error='/opt/bitnami/mariadb/logs/mariadb-error.log';
